<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>

   <extension
         point="net.bioclipse.decisionsupport">
         
      <test
            id="cpdb.signatures"
            name="CPDB Signature Significance"
            class="net.bioclipse.ds.cpdb.signatures.CPDBSignSigRunner"
            endpoint="net.bioclipse.ds.carcinogenicity">
      </test>
   </extension>

      <!--test
            id="cpdb.signatures"
            name="CPDB Signatures"
            endpoint="net.bioclipse.ds.carcinogenicity"
            reportmodel="net.bioclipse.ds.impl.report.SmartsMatchReportModel"
            consensus="net.bioclipse.ds.consensus.majority.emptynegative"
            propertycalculator="CPDB Signatures"
            class="net.bioclipse.ds.cpdb.impl.SignMatchImpl">
      </test-->

	<extension
    	point="org.eclipse.help.toc">
		<toc 
			file="toc.xml"/>
	</extension>


</plugin>
