<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>


<extension
       point="net.bioclipse.cdk.jchempaint.generator">
    <generator
          class="net.bioclipse.ds.ui.BlueRedColorScaleGenerator">
    </generator>
 </extension>

   <extension
         point="org.eclipse.ui.views">
      <category
            id="net.bioclipse.ds.views"
            name="Decision Support">
      </category>
      <view
            category="net.bioclipse.ds.views"
            class="net.bioclipse.ds.ui.views.DSView"
            icon="icons/poll.gif"
            id="net.bioclipse.ds.ui.views.DSView"
            name="Decision Support">
      </view>
      <view
            class="net.bioclipse.ds.ui.views.Eventview"
            id="net.bioclipse.ds.ui.eventview"
            name="Chem Event View"
            restorable="true">
      </view>
   </extension>

   <extension
         point="org.eclipse.ui.perspectives">
      <perspective
            class="net.bioclipse.ds.ui.PerspectiveFactory"
            id="net.bioclipse.ds.ui.perspective"
            icon="icons/poll.gif"
            name="Decision Support">
      </perspective>
   </extension>


 <extension
       point="org.eclipse.ui.cheatsheets.cheatSheetContent">
    <category
          id="net.bioclipse.ds.cheatsheets"
          name="Decision Support">
    </category>
    <cheatsheet
          category="net.bioclipse.ds.cheatsheets"
          composite="false"
          contentFile="cheatsheets/gettingstarted.xml"
          id="net.bioclipse.ds.gettingStarted"
          name="Getting Started with Decision Support">
    </cheatsheet>
 </extension>
 
  	<extension
  		point="org.eclipse.ui.menus">
		<menuContribution
			locationURI="popup:org.eclipse.ui.popup.any?after=additions">
        
        <menu
              label="Decision Support"
              id="net.bioclipse.ds.context">
              <separator
                    name="single">
              </separator>
              <separator
                    name="consensus">
              </separator>
        <visibleWhen
              checkEnabled="true">
           <reference
                 definitionId="net.bioclipse.cdk.ui.sdfeditor.menu.fileOrEditor">
           </reference>
        </visibleWhen>
              
        </menu>

   </menuContribution>
   </extension>

	<extension
    	point="org.eclipse.help.toc">
		<toc
        	file="toc.xml"
         	primary="true"/>
	</extension>

</plugin>
