<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>

	<extension
    	point="org.eclipse.help.toc">
		<toc
        	file="toc.xml"
         	primary="false"/>
	</extension>


   <extension
         point="net.bioclipse.decisionsupport">
         
         <endpoint
               id="net.bioclipse.ds.mutagenicity"
               description="Ability to induce mutations to DNA"
               icon="icons/radioactive.png"
               name="Mutagenicity">
         </endpoint>
         
      <test
            id="ames.lookup.exact"
            name="Ames exact matches"
            endpoint="net.bioclipse.ds.mutagenicity"
            class="net.bioclipse.ds.matcher.SDFExactMatcherSignatures"
            propertycalculator="Ames Exact Match"
            override="true">
            <resource name="file"
                  path="data/bursi_nosalts_molsign.sdf">
            </resource>
            <parameter name="responseProperty" value="Ames test categorisation" />
            <parameter name="isClassification" value="true" />
            <parameter name="positiveValue" value="mutagen" />
            <parameter name="negativeValue" value="nonmutagen" />
            
			<parameter name="Model type" value="Molecular Signature lookup" />

            <parameter name="Observations" value="4337" />
            <parameter name="URL" value="http://pubs.acs.org/doi/abs/10.1021/jm040835a" />
            <parameter name="Dataset name" value="Bursi Mutagenicity Dataset" />
            
      </test>

      <test
            id="ames.lookup.nearest"
            name="Ames nearest neighbour"
            endpoint="net.bioclipse.ds.mutagenicity"
            class="net.bioclipse.ds.matcher.SDFNearestMatchFP"
            consensus="net.bioclipse.ds.consensus.majority.emptyinconclusive"
            propertycalculator="Ames Nearest Neighbours">
            <resource name="file"
                  path="data/bursi_nosalts_fp.sdf">
            </resource>
            <parameter name="distance.tanimoto" value="0.7" />
            <parameter name="responseProperty" value="Ames test categorisation" />
            <parameter name="isClassification" value="true" />
            <parameter name="positiveValue" value="mutagen" />
            <parameter name="negativeValue" value="nonmutagen" />
            
            <parameter name="Model type" value="Fingerprint lookup" />
            <parameter name="Similarity metric" value="Tanimoto" />
            <parameter name="Similarity threshold" value="0.7" />

            <parameter name="Observations" value="4337" />
            <parameter name="URL" value="http://pubs.acs.org/doi/abs/10.1021/jm040835a" />
            <parameter name="Dataset name" value="Bursi Mutagenicity Dataset" />
            
            
      </test>
      
      <test
            id="ames.smarts"
            name="Ames Structural Alerts"
            endpoint="net.bioclipse.ds.mutagenicity"
            consensus="net.bioclipse.ds.consensus.majority.emptynegative"
            propertycalculator="Ames Toxicophores"
            class="net.bioclipse.ds.matcher.SmartsMatcher">
            <resource name="file"
                  path="data/bursiApprovedCDKCorrected.txt">
            </resource>
            
            <parameter name="Model type" value="SMARTS matching" />

            <parameter name="Observations" value="28" />
            <parameter name="URL" value="http://pubs.acs.org/doi/abs/10.1021/jm040835a" />
            <parameter name="Dataset name" value="Bursi Mutagenicity Dataset" />
            
      </test>
      
     <test 
            id="ames.signatures"
            name="Ames Signature Significance"
            class="net.bioclipse.ds.libsvm.SignaturesLibSVMPrediction"
            endpoint="net.bioclipse.ds.mutagenicity"
            propertycalculator="Ames Signature Significance">
        
            <parameter name="isClassification" value="true"/>
            <parameter name="positiveValue" value="mutagen"/>
            <parameter name="negativeValue" value="nonmutagen"/>
            <parameter name="classLabels" value="mutagen, nonmutagen"/>
            <parameter name="responseProperty" value="Ames test categorisation"/>
            <parameter name="signatures.min.height" value="0"/>
            <parameter name="signatures.max.height" value="3"/>
            <resource name="trainFile" path="/models/ames.train"/>
            <resource name="modelfile" path="/models/ames.model"/>
            <resource name="signaturesfile" path="/models/ames.sign"/>
            
            <parameter name="Model type" value="QSAR" />
			<parameter name="Model choice" value="Maximal accuracy, with 5-fold cross-validated accuracy as objective function" />
            <parameter name="Model validation" value="Accuracy measued on an external test set" />
            <parameter name="Model performance" value="0.85" />
            <parameter name="Learning model" value="SVM" />
            <parameter name="Learning parameters" value="kernel=RBF, c=10, gamma=0.002" />

            <parameter name="Descriptors" value="Signatures (height 0-3)" />
            <parameter name="Observations" value="4337" />
            <parameter name="Variables" value="23226" />
            <parameter name="URL" value="http://pubs.acs.org/doi/abs/10.1021/jm040835a" />
            <parameter name="Dataset name" value="Bursi Mutagenicity Dataset" />
        </test>
      
     <!--test
            id="ames.signatures"
            name="Ames Signature Significance"
            class="net.bioclipse.ds.libsvm.SignaturesLibSVMPrediction"
            endpoint="net.bioclipse.ds.mutagenicity"
            propertycalculator="Ames Signature Significance">
            
            <resource name="file" path="data/bursi_nosalts_inchi.sdf" />
            <parameter name="responseProperty" value="Ames test categorisation" />
            <resource name="trainFile" path="models/ames.train" />

            <parameter name="positiveValue" value="mutagen" />
            <parameter name="negativeValue" value="nonmutagen" />

            <resource name="modelfile" path="models/ames.model.old" />
            <resource name="signaturesfile" path="models/ames.signatures.old" />
            <parameter name="signatures.min.height" value="0" />
            <parameter name="signatures.max.height" value="3" />

            <parameter name="Model type" value="QSAR" />
			<parameter name="Model choice" value="Maximal accuracy, with 5-fold cross-validated accuracy as objective function" />
            <parameter name="Model validation" value="Accuracy measued on an external test set" />
            <parameter name="Model performance" value="0.85" />
            <parameter name="Learning model" value="SVM" />
            <parameter name="Learning parameters" value="kernel=RBF, c=10, gamma=0.002" />

            <parameter name="Descriptors" value="Signatures (height 0-3)" />
            <parameter name="Observations" value="4337" />
            <parameter name="Variables" value="23226" />
            <parameter name="URL" value="http://pubs.acs.org/doi/abs/10.1021/jm040835a" />
            <parameter name="Dataset name" value="Bursi Mutagenicity Dataset" />

      </test-->

      <test
            id="ames.consensus"
            name="Ames Consensus"
            visible="false"
            endpoint="net.bioclipse.ds.mutagenicity"
            class="net.bioclipse.ds.matcher.BogusTest"
            icon="icons/db.gif">
      </test>
      
   </extension>




   <extension
       point="net.bioclipse.cdk.propertyCalculator">
    <Calculator
          class="net.bioclipse.ds.ames.calc.ExactMatchCalculator"
          id="Ames Exact Match">
    </Calculator>
    <Calculator
          class="net.bioclipse.ds.ames.calc.NearestMatchCalculator"
          id="Ames Nearest Neighbours">
    </Calculator>
    
     <Calculator
          class="net.bioclipse.ds.ames.calc.SmartsMatchCalculator"
          id="Ames Toxicophores">
    </Calculator>

    <Calculator
          class="net.bioclipse.ds.ames.calc.SignSigCalculator"
          id="Ames Signature Significance">
    </Calculator>

    <Calculator
          class="net.bioclipse.ds.ames.calc.ConsensusCalculator"
          id="Ames Consensus">
    </Calculator>
    
 </extension>
 
 	<extension
  		point="org.eclipse.ui.menus">
   <menuContribution
        locationURI="popup:net.bioclipse.ds.context?after=single">
      <command
           commandId="net.bioclipse.cdk.ui.sdfeditor.addProperty"
           label="Ames Exact Matches"
            icon="icons/db.gif"
           style="push">
        <parameter
              name="net.bioclipse.cdk.ui.sdfeditor.calculatorId"
              value="Ames Exact Match">
        </parameter>
        <visibleWhen
              checkEnabled="false">
           <with
                 variable="activeEditor">
              <instanceof
                    value="net.bioclipse.cdk.ui.sdfeditor.editor.MultiPageMoleculesEditorPart">
              </instanceof>
           </with>
        </visibleWhen>
     </command>

      <command
           commandId="net.bioclipse.cdk.ui.sdfeditor.addProperty"
           label="Ames Nearest Neighbors"
            icon="icons/db.gif"
           style="push">
        <parameter
              name="net.bioclipse.cdk.ui.sdfeditor.calculatorId"
              value="Ames Nearest Neighbours">
        </parameter>
        <visibleWhen
              checkEnabled="false">
           <with
                 variable="activeEditor">
              <instanceof
                    value="net.bioclipse.cdk.ui.sdfeditor.editor.MultiPageMoleculesEditorPart">
              </instanceof>
           </with>
        </visibleWhen>
     </command>
     
     <command
           commandId="net.bioclipse.cdk.ui.sdfeditor.addProperty"
           label="Ames Structural Alerts"
            icon="icons/form.gif"
           style="push">
        <parameter
              name="net.bioclipse.cdk.ui.sdfeditor.calculatorId"
              value="Ames Toxicophores">
        </parameter>
        <visibleWhen
              checkEnabled="false">
           <with
                 variable="activeEditor">
              <instanceof
                    value="net.bioclipse.cdk.ui.sdfeditor.editor.MultiPageMoleculesEditorPart">
              </instanceof>
           </with>
        </visibleWhen>
     </command>
     
   </menuContribution>

    <menuContribution
        locationURI="popup:net.bioclipse.ds.context?after=single">
      <command
           commandId="net.bioclipse.cdk.ui.sdfeditor.addProperty"
           label="Ames Signature Significance"
            icon="icons/form.gif"
           style="push">
        <parameter
              name="net.bioclipse.cdk.ui.sdfeditor.calculatorId"
              value="Signature Significance">
        </parameter>
        <visibleWhen
              checkEnabled="false">
           <with
                 variable="activeEditor">
              <instanceof
                    value="net.bioclipse.cdk.ui.sdfeditor.editor.MultiPageMoleculesEditorPart">
              </instanceof>
           </with>
        </visibleWhen>
     </command>
   </menuContribution>


   <menuContribution
        locationURI="popup:net.bioclipse.ds.context?after=consensus">
        
      <command
           commandId="net.bioclipse.cdk.ui.sdfeditor.addProperty"
           label="Ames Consensus Clasification"
            icon="icons/poll.gif"
           style="push">
        <parameter
              name="net.bioclipse.cdk.ui.sdfeditor.calculatorId"
              value="Ames Exact Match,Ames Nearest Neighbours,Ames Toxicophores,Ames Signature Significance, Ames Consensus">
        </parameter>
        <visibleWhen
              checkEnabled="true">
           <reference
                 definitionId="net.bioclipse.cdk.ui.sdfeditor.menu.fileOrEditor">
           </reference>
        </visibleWhen>
     </command>
   </menuContribution>

 </extension>
      
   
</plugin>
