<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>

	<extension
    	point="org.eclipse.help.toc">
		<toc
        	file="toc.xml"
         	primary="false"/>
	</extension>

<extension
      point="net.bioclipse.decisionsupport">
      <endpoint
            id="net.bioclipse.ds.ahr"
            name="AHR"
            description="AHR is one of several chemical/ligand-dependent intracellular receptors that can stimulate gene transcription in response to xenobiotics. The ability of the AhR to bind and be activated by a range of structurally divergent chemicals suggests that the AhR contains a rather promiscuous ligand binding site."
            icon="icons/plus.gif">
      </endpoint>
              
      <test
            id="ahr.lookup.exact"
            name="AHR exact matches"
            endpoint="net.bioclipse.ds.ahr"
            override="true"
            propertycalculator="AHR Exact Match"
            class="net.bioclipse.ds.matcher.SDFExactMatcherSignatures">
            <resource name="file"
                  path="data/2796_nosalts_molsign.sdf">
            </resource>
            <parameter name="responseProperty" value="c#Activity" />
            <parameter name="isClassification" value="true" />
            <parameter name="positiveValue" value="2" />
            <parameter name="negativeValue" value="1" />
            
			<parameter name="Model type" value="Molecular Signature lookup" />

            <parameter name="Observations" value="15951" />
            <parameter name="URL" value="http://pubchem.ncbi.nlm.nih.gov/assay/assay.cgi?aid=2796" />
            <parameter name="Dataset name" value="Luminescence-based primary cell-based high throughput screening assay to identify activators of the Aryl Hydrocarbon Receptor (AHR)" />
            
      </test>

      <test
            id="ahr.lookup.nearest"
            name="AHR nearest neighbour"
            endpoint="net.bioclipse.ds.ahr"
            class="net.bioclipse.ds.matcher.SDFNearestMatchFP"
            propertycalculator="AHR Nearest Neighbours"
            consensus="net.bioclipse.ds.consensus.majority.emptyinconclusive">
            <resource name="file"
                  path="data/2796_nosalts_fp.sdf">
            </resource>
            <parameter name="distance.tanimoto" value="0.7" />
            <parameter name="responseProperty" value="c#Activity" />
            <parameter name="isClassification" value="true" />
            <parameter name="positiveValue" value="2" />
            <parameter name="negativeValue" value="1" />
            
            <parameter name="Model type" value="Fingerprint lookup" />
            <parameter name="Similarity metric" value="Tanimoto" />
            <parameter name="Similarity threshold" value="0.7" />

            <parameter name="Observations" value="15951" />
            <parameter name="URL" value="http://pubchem.ncbi.nlm.nih.gov/assay/assay.cgi?aid=2796" />
            <parameter name="Dataset name" value="Luminescence-based primary cell-based high throughput screening assay to identify activators of the Aryl Hydrocarbon Receptor (AHR)" />
            
      </test>
      
      <test
            id="ahr.alerts.signatures"
            name="AHR Signature Alerts"
            endpoint="net.bioclipse.ds.ahr"
            consensus="net.bioclipse.ds.consensus.majority.emptynegative"
            propertycalculator="AHR Signature Alerts"
            class="net.bioclipse.ds.matcher.SignatureAlertsMatcher">
            <resource name="file"
                  path="models/2796_nosalts_as0-5.sdf_exportedSignatures.txt">
            </resource>
            
            <parameter name="Model type" value="Signature Alerts" />

            <parameter name="Observations" value="15951" />
            <parameter name="URL" value="http://pubchem.ncbi.nlm.nih.gov/assay/assay.cgi?aid=2796" />
            <parameter name="Dataset name" value="Luminescence-based primary cell-based high throughput screening assay to identify activators of the Aryl Hydrocarbon Receptor (AHR)" />
            
      </test>

      <test 
            id="ahr.signatures"
            name="AHR Signature Significance"
            class="net.bioclipse.ds.libsvm.SignaturesLibSVMPrediction"
            propertycalculator="AHR Signature Significance"
            endpoint="net.bioclipse.ds.ahr"
        	consensus="net.bioclipse.ds.consensus.majority.emptyinconclusive">

            <parameter name="isClassification" value="true"/>
            <parameter name="positiveValue" value="2"/>
            <parameter name="negativeValue" value="1"/>
            <parameter name="classLabels" value="2, 1"/>
            <parameter name="responseProperty" value="c#Activity"/>
            <parameter name="signatures.min.height" value="0"/>
            <parameter name="signatures.max.height" value="3"/>
            <resource name="trainFile" path="/models/ahr.train"/>
            <resource name="modelfile" path="/models/ahr.model"/>
            <resource name="signaturesfile" path="/models/ahr.sign"/>
            
            <parameter name="Model type" value="QSAR" />
            <parameter name="Model choice" value="Maximal accuracy, with 5-fold cross-validated accuracy as objective function" />
            <parameter name="Model validation" value="Accuracy measued on an external test set" />
            <parameter name="Model performance" value="0.83" />
            <parameter name="Learning model" value="SVM" />
            <parameter name="Learning parameters" value="kernel=RBF, c=10, gamma=0.002" />

            <parameter name="Descriptors" value="Signatures (height 0-3)" />
            <parameter name="Observations" value="15951" />
            <parameter name="Variables" value="54257" />
            <parameter name="URL" value="http://pubchem.ncbi.nlm.nih.gov/assay/assay.cgi?aid=2796" />
            <parameter name="Dataset name" value="Luminescence-based primary cell-based high throughput screening assay to identify activators of the Aryl Hydrocarbon Receptor (AHR)" />
            
        </test>
      
        <!--test
            id="ahr.signatures"
            name="AHR Signature Significance"
            class="net.bioclipse.ds.libsvm.SignaturesLibSVMPrediction"
            propertycalculator="AHR Signature Significance"
            endpoint="net.bioclipse.ds.ahr">
            
            <resource name="file" path="data/2796_nosalts_molsign.sdf" />
            <parameter name="responseProperty" value="c#Activity" />
            <resource name="trainFile" path="models/ahr.train.old" />

            <parameter name="positiveValue" value="2" />
            <parameter name="negativeValue" value="1" />
            
            <resource name="modelfile" path="models/ahr.model.old" />
            <resource name="signaturesfile" path="models/ahr.signatures.old" />
            <parameter name="signatures.min.height" value="0" />
            <parameter name="signatures.max.height" value="3" />
         
            <parameter name="Model type" value="QSAR" />
            <parameter name="Model choice" value="Maximal accuracy, with 5-fold cross-validated accuracy as objective function" />
            <parameter name="Model validation" value="Accuracy measued on an external test set" />
            <parameter name="Model performance" value="0.83" />
            <parameter name="Learning model" value="SVM" />
            <parameter name="Learning parameters" value="kernel=RBF, c=10, gamma=0.002" />

            <parameter name="Descriptors" value="Signatures (height 0-3)" />
            <parameter name="Observations" value="15951" />
            <parameter name="Variables" value="54257" />
            <parameter name="URL" value="http://pubchem.ncbi.nlm.nih.gov/assay/assay.cgi?aid=2796" />
            <parameter name="Dataset name" value="Luminescence-based primary cell-based high throughput screening assay to identify activators of the Aryl Hydrocarbon Receptor (AHR)" />
            
      </test-->
      
      
      
      <test
            id="ahr.consensus"
            name="AHR Consensus"
            visible="false"
            endpoint="net.bioclipse.ds.ahr"
            class="net.bioclipse.ds.matcher.BogusTest"
            icon="icons/db.gif">
      </test>
      
      
</extension>




       <extension
       point="net.bioclipse.cdk.propertyCalculator">
    <Calculator
          class="net.bioclipse.ds.ahr.calc.ExactMatchCalculator"
          id="AHR Exact Match">
    </Calculator>
    <Calculator
          class="net.bioclipse.ds.ahr.calc.NearestMatchCalculator"
          id="AHR Nearest Neighbours">
    </Calculator>
    
     <Calculator
          class="net.bioclipse.ds.ahr.calc.SignaturesAlertsCalculator"
          id="AHR Signature Alerts">
    </Calculator>

     <Calculator
          class="net.bioclipse.ds.ahr.calc.AHRSignificanceCalculator"
          id="AHR Signature Significance">
    </Calculator>

    <Calculator
          class="net.bioclipse.ds.ahr.calc.AHRConsensusCalculator"
          id="AHR Consensus">
    </Calculator>
    
 </extension>
 
 	<extension
  		point="org.eclipse.ui.menus">
   <menuContribution
        locationURI="popup:net.bioclipse.ds.context?after=single">
      <command
           commandId="net.bioclipse.cdk.ui.sdfeditor.addProperty"
           label="AHR Exact Matches"
            icon="icons/db.gif"
           style="push">
        <parameter
              name="net.bioclipse.cdk.ui.sdfeditor.calculatorId"
              value="AHR Exact Match">
        </parameter>
        <visibleWhen
              checkEnabled="false">
           <reference
                 definitionId="net.bioclipse.cdk.ui.sdfeditor.menu.fileOrEditor">
           </reference>
        </visibleWhen>
     </command>

      <command
           commandId="net.bioclipse.cdk.ui.sdfeditor.addProperty"
           label="AHR Nearest Neighbors"
            icon="icons/db.gif"
           style="push">
        <parameter
              name="net.bioclipse.cdk.ui.sdfeditor.calculatorId"
              value="AHR Nearest Neighbours">
        </parameter>
        <visibleWhen
              checkEnabled="false">
           <reference
                 definitionId="net.bioclipse.cdk.ui.sdfeditor.menu.fileOrEditor">
           </reference>
        </visibleWhen>
     </command>
     
     <command
           commandId="net.bioclipse.cdk.ui.sdfeditor.addProperty"
           label="AHR Signatures Alerts"
            icon="icons/form.gif"
           style="push">
        <parameter
              name="net.bioclipse.cdk.ui.sdfeditor.calculatorId"
              value="AHR Signature Matches">
        </parameter>
        <visibleWhen
              checkEnabled="false">
           <reference
                 definitionId="net.bioclipse.cdk.ui.sdfeditor.menu.fileOrEditor">
           </reference>
        </visibleWhen>
     </command>

     <command
           commandId="net.bioclipse.cdk.ui.sdfeditor.addProperty"
           label="AHR Signatures Significance"
            icon="icons/form.gif"
           style="push">
        <parameter
              name="net.bioclipse.cdk.ui.sdfeditor.calculatorId"
              value="AHR Signature Significance">
        </parameter>
        <visibleWhen
              checkEnabled="false">
           <reference
                 definitionId="net.bioclipse.cdk.ui.sdfeditor.menu.fileOrEditor">
           </reference>
        </visibleWhen>
     </command>     
   </menuContribution>


   <menuContribution
        locationURI="popup:net.bioclipse.ds.context?after=consensus">
        
      <command
           commandId="net.bioclipse.cdk.ui.sdfeditor.addProperty"
           label="AHR Consensus Clasification"
            icon="icons/poll.gif"
           style="push">
        <parameter
              name="net.bioclipse.cdk.ui.sdfeditor.calculatorId"
              value="AHR Exact Match,AHR Nearest Neighbours,AHR Signature Matches,AHR Signature Significance,AHR Consensus">
        </parameter>
        <visibleWhen
              checkEnabled="true">
           <reference
                 definitionId="net.bioclipse.cdk.ui.sdfeditor.menu.fileOrEditor">
           </reference>
        </visibleWhen>
     </command>
   </menuContribution>
 </extension>
   
   

</plugin>
