<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>

   <extension
         point="net.bioclipse.decisionsupport">
         <endpoint
               id="net.bioclipse.ds.adme"
               name="ADME">
         </endpoint>
      <test
            class="net.bioclipse.ds.adme.impl.RuleOfFiveTest"
            endpoint="net.bioclipse.ds.adme"
            icon="icons/five.gif"
            id="lipinski"
            informative="true"
            name="Lipinski&apos;s Rule of Five">
      </test>
</extension>

</plugin>
