<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="net.bioclipse.decisionsupport">
         
         <endpoint
               id="net.bioclipse.ds.chemspider"
               description="Chemspider lookup"
               icon="icons/cs-icon.png"
               name="Chemspider">
         </endpoint>

      <test
            id="chemspider.nearest"
            name="Nearest neighbours"
            endpoint="net.bioclipse.ds.chemspider"
            class="net.bioclipse.ds.chemspider.SimilaritySearchModel"
            consensus="net.bioclipse.ds.consensus.majority.emptyinconclusive">
            <parameter name="distance.tanimoto" value="0.8" />
      </test>
      <test
            id="chemspider.nearest.chembl"
            name="Nearest neighbours in ChEMBL"
            endpoint="net.bioclipse.ds.chemspider"
            class="net.bioclipse.ds.chemspider.SimilaritySearchChEMBLModel"
            consensus="net.bioclipse.ds.consensus.majority.emptyinconclusive">
            <parameter name="distance.tanimoto" value="0.8" />
      </test>

</extension>

</plugin>
