<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>

   <extension
         point="net.bioclipse.ds.test">
      <test
            class="net.bioclipse.ds.dblookup.impl.DBExactMatchTest"
            icon="icons/test.gif"
            id="dblookup.exact.bursi"
            name="Bursi exact DB lookup">
            <resource name="file"
                  path="data/cas_withprops.sdf">
            </resource>
      </test>
   </extension>

</plugin>
