<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>

   <extension
         point="net.bioclipse.ds.test">
      <test
            id="dblookup.exact.bursi"
            name="BursiDB exact lookup"
            class="net.bioclipse.ds.dblookup.impl.DBExactMatchTest"
            icon="icons/test.gif">
            <resource name="file"
                  path="data/cas_withprops.sdf">
            </resource>
      </test>
   </extension>

   <extension
         point="net.bioclipse.ds.test">
      <test
            id="dblookup.nearest.bursi"
            name="BursiDB nearest neighbour"
            class="net.bioclipse.ds.dblookup.impl.DBNearestNeighborTest"
            icon="icons/test.gif">
            <resource name="file"
                  path="data/cas_withprops.sdf">
            </resource>
            <parameter
                  name="distance.tanimoto"
                  value="15">
            </parameter>
      </test>
   </extension>

</plugin>
