<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>

	<extension
    	point="org.eclipse.help.toc">
		<toc
        	file="toc.xml"
         	primary="false"/>
	</extension>


   <extension
         point="net.bioclipse.decisionsupport">
         
         <endpoint
               id="net.bioclipse.ds.carcinogenicity"
               description="Involved in the promotion of cancer or in the increase of its propagation"
               icon="icons/poison.gif"
               name="Carcinogenicity">
         </endpoint>
         
      <test
            id="cpdb.lookup.exact"
            name="CPDB exact matches"
            endpoint="net.bioclipse.ds.carcinogenicity"
            class="net.bioclipse.ds.matcher.SDFPosNegExactMatchSignatures"
            propertycalculator="CPDB Exact Match"
            informative="true">
            <resource name="file"
                  path="data/cpdb_molsign.sdf">
            </resource>
            <parameter name="responseProperty" value="ActivityOutcome_CPDBAS_Rat" />
            <parameter name="positiveValue" value="active" />
            <parameter name="negativeValue" value="inactive" />
      </test>

      <test
            id="cpdb.lookup.nearest"
            name="CPDB nearest neighbour"
            endpoint="net.bioclipse.ds.carcinogenicity"
            class="net.bioclipse.ds.matcher.SDFPosNegNearestMatchFP"
            consensus="net.bioclipse.ds.consensus.majority.emptynegative"
            propertycalculator="CPDB Nearest Neighbours">
            <resource name="file"
                  path="data/cpdb_fp.sdf">
            </resource>
            <parameter name="distance.tanimoto" value="0.7" />
            <parameter name="responseProperty" value="ActivityOutcome_CPDBAS_Rat" />
            <parameter name="positiveValue" value="active" />
            <parameter name="negativeValue" value="inactive" />
      </test>
      
     <test
            id="cpdb.signatures"
            name="CPDB Signature Significance"
            class="net.bioclipse.ds.cpdb.calc.CPDBSIgnaturesSignificanceModel"
            endpoint="net.bioclipse.ds.carcinogenicity"
            propertycalculator="CPDB Signature Significance">
            <resource name="modelfile" path="models/cpdb.train.model" />
            <resource name="rangefile" path="models/cpdb.train.range" />
            <resource name="signaturesfile" path="models/cpdb.train.signatures" />
      </test>
      <test
            id="cpdb.alerts.signatures"
            name="CPDB Signature Alerts"
            endpoint="net.bioclipse.ds.carcinogenicity"
            consensus="net.bioclipse.ds.consensus.majority.emptynegative"
            class="net.bioclipse.ds.matcher.SignatureAlertsMatcher"
            propertycalculator="CPDB Signature Matches">
            <resource name="file"
                  path="models/cpdb_atomsign0_5.sdf_exportedSignatures.txt">
            </resource>
      </test>
      
      <test
            id="cpdb.consensus"
            name="Carcinogenicity Consensus"
            visible="false"
            endpoint="net.bioclipse.ds.carcinogenicity"
            class="net.bioclipse.ds.matcher.BogusTest"
            icon="icons/db.gif">
      </test>
      
   </extension>




       <extension
       point="net.bioclipse.cdk.propertyCalculator">
    <Calculator
          class="net.bioclipse.ds.cpdb.calc.ExactMatchCalculator"
          id="CPDB Exact Match">
    </Calculator>
    <Calculator
          class="net.bioclipse.ds.cpdb.calc.NearestMatchCalculator"
          id="CPDB Nearest Neighbours">
    </Calculator>
    
     <Calculator
          class="net.bioclipse.ds.cpdb.calc.SignaturesMatchCalculator"
          id="CPDB Signature Matches">
    </Calculator>

     <Calculator
          class="net.bioclipse.ds.cpdb.calc.SignatureSignificanceCalculator"
          id="CPDB Signature Significance">
    </Calculator>

    <Calculator
          class="net.bioclipse.ds.cpdb.calc.CarcinogenicityConsensusCalculator"
          id="Carcinogenicity Consensus">
    </Calculator>
    
 </extension>
 
 	<extension
  		point="org.eclipse.ui.menus">
   <menuContribution
        locationURI="popup:net.bioclipse.ds.context?after=single">
      <command
           commandId="net.bioclipse.cdk.ui.sdfeditor.addProperty"
           label="CPDB Exact Matches"
            icon="icons/db.gif"
           style="push">
        <parameter
              name="net.bioclipse.cdk.ui.sdfeditor.calculatorId"
              value="CPDB Exact Match">
        </parameter>
        <visibleWhen
              checkEnabled="false">
           <with
                 variable="activeEditor">
              <instanceof
                    value="net.bioclipse.cdk.ui.sdfeditor.editor.MultiPageMoleculesEditorPart">
              </instanceof>
           </with>
        </visibleWhen>
     </command>

      <command
           commandId="net.bioclipse.cdk.ui.sdfeditor.addProperty"
           label="CPDB Nearest Neighbors"
            icon="icons/db.gif"
           style="push">
        <parameter
              name="net.bioclipse.cdk.ui.sdfeditor.calculatorId"
              value="CPDB Nearest Neighbours">
        </parameter>
        <visibleWhen
              checkEnabled="false">
           <with
                 variable="activeEditor">
              <instanceof
                    value="net.bioclipse.cdk.ui.sdfeditor.editor.MultiPageMoleculesEditorPart">
              </instanceof>
           </with>
        </visibleWhen>
     </command>
     
     <command
           commandId="net.bioclipse.cdk.ui.sdfeditor.addProperty"
           label="CPDB Signatures Matches"
            icon="icons/form.gif"
           style="push">
        <parameter
              name="net.bioclipse.cdk.ui.sdfeditor.calculatorId"
              value="CPDB Signature Matches">
        </parameter>
        <visibleWhen
              checkEnabled="false">
           <with
                 variable="activeEditor">
              <instanceof
                    value="net.bioclipse.cdk.ui.sdfeditor.editor.MultiPageMoleculesEditorPart">
              </instanceof>
           </with>
        </visibleWhen>
     </command>

     <command
           commandId="net.bioclipse.cdk.ui.sdfeditor.addProperty"
           label="CPDB Signatures Significance"
            icon="icons/form.gif"
           style="push">
        <parameter
              name="net.bioclipse.cdk.ui.sdfeditor.calculatorId"
              value="CPDB Signature Significance">
        </parameter>
        <visibleWhen
              checkEnabled="false">
           <with
                 variable="activeEditor">
              <instanceof
                    value="net.bioclipse.cdk.ui.sdfeditor.editor.MultiPageMoleculesEditorPart">
              </instanceof>
           </with>
        </visibleWhen>
     </command>     
   </menuContribution>


   <menuContribution
        locationURI="popup:net.bioclipse.ds.context?after=consensus">
        
      <command
           commandId="net.bioclipse.cdk.ui.sdfeditor.addProperty"
           label="Carcinogenicity Consensus Clasification"
            icon="icons/poll.gif"
           style="push">
        <parameter
              name="net.bioclipse.cdk.ui.sdfeditor.calculatorId"
              value="CPDB Exact Match,CPDB Nearest Neighbours,CPDB Signature Matches,CPDB Signature Significance">
        </parameter>
        <visibleWhen
              checkEnabled="true">
           <reference
                 definitionId="net.bioclipse.cdk.ui.sdfeditor.menu.fileOrEditor">
           </reference>
        </visibleWhen>
     </command>
   </menuContribution>
 </extension>
   


 <!--extension
       point="org.eclipse.core.expressions.definitions">
    <definition
          id="net.bioclipse.cdk.ui.sdfeditor.menu.file">
       <iterate
             ifEmpty="false"
             operator="and">
          <adapt
                type="org.eclipse.core.resources.IResource">
             <or>
                <test
                      property="org.eclipse.core.resources.contentTypeId"
                      value="net.bioclipse.contenttypes.sdf0d">
                </test>
                <test
                      property="org.eclipse.core.resources.contentTypeId"
                      value="net.bioclipse.contenttypes.sdf2d">
                </test>
                <test
                      property="org.eclipse.core.resources.contentTypeId"
                      value="net.bioclipse.contenttypes.sdf3d">
                </test>
             </or>
          </adapt>
       </iterate>
    </definition>

    <definition
          id="net.bioclipse.cdk.ui.sdfeditor.menu.editor">
       <with
             variable="activeEditor">
          <instanceof
                value="net.bioclipse.cdk.ui.sdfeditor.editor.MultiPageMoleculesEditorPart">
          </instanceof>
       </with>
    </definition>
    <definition
          id="net.bioclipse.cdk.ui.sdfeditor.menu.fileOrEditor">
       <or>
          <iterate
                ifEmpty="false"
                operator="and">
             <adapt
                   type="org.eclipse.core.resources.IResource">
                <or>
	                <test
    	                  property="org.eclipse.core.resources.contentTypeId"
    	                  value="net.bioclipse.contenttypes.sdf0d">
	                </test>
                   <test
                         property="org.eclipse.core.resources.contentTypeId"
                         value="net.bioclipse.contenttypes.sdf2d">
                   </test>
                   <test
                         property="org.eclipse.core.resources.contentTypeId"
                         value="net.bioclipse.contenttypes.sdf3d">
                   </test>
                </or>
             </adapt>
          </iterate>
          <with
                variable="activeEditor">
             <instanceof
                   value="net.bioclipse.cdk.ui.sdfeditor.editor.MultiPageMoleculesEditorPart">
             </instanceof>
          </with>
       </or>
    </definition>
 </extension-->
   
   
   
</plugin>
