<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>

	<extension
    	point="org.eclipse.help.toc">
		<toc
        	file="toc.xml"
         	primary="false"/>
	</extension>


   <extension
         point="net.bioclipse.decisionsupport">
         
         <endpoint
               id="net.bioclipse.ds.carcinogenicity"
               description="Involved in the promotion of cancer or in the increase of its propagation"
               icon="icons/poison.gif"
               name="Carcinogenicity">
         </endpoint>
         
      <test
            id="cpdb.lookup.exact"
            name="CPDB exact matches"
            endpoint="net.bioclipse.ds.carcinogenicity"
            class="net.bioclipse.ds.matcher.SDFExactMatcherSignatures"
            propertycalculator="CPDB Exact Match"
            override="true">
            <resource name="file"
                  path="data/cpdb_molsign.sdf">
            </resource>
            <parameter name="responseProperty" value="ActivityOutcome_CPDBAS_Rat" />
            <parameter name="isClassification" value="true" />
            <parameter name="positiveValue" value="active" />
            <parameter name="negativeValue" value="inactive" />
            
			<parameter name="Model type" value="Molecular Signature lookup" />

            <parameter name="Observations" value="892" />
            <parameter name="URL" value="http://www.epa.gov/ncct/dsstox/sdf_cpdbas.html" />
            <parameter name="Dataset name" value="Carcinogenic Potency Database" />
            
      </test>

      <test
            id="cpdb.lookup.nearest"
            name="CPDB nearest neighbour"
            endpoint="net.bioclipse.ds.carcinogenicity"
            class="net.bioclipse.ds.matcher.SDFNearestMatchFP"
            consensus="net.bioclipse.ds.consensus.majority.emptyinconclusive"
            propertycalculator="CPDB Nearest Neighbours">
            <resource name="file"
                  path="data/cpdb_fp.sdf">
            </resource>
            <parameter name="distance.tanimoto" value="0.7" />
            <parameter name="responseProperty" value="ActivityOutcome_CPDBAS_Rat" />
            <parameter name="isClassification" value="true" />
            <parameter name="positiveValue" value="active" />
            <parameter name="negativeValue" value="inactive" />
            
            <parameter name="Model type" value="Fingerprint lookup" />
            <parameter name="Similarity metric" value="Tanimoto" />
            <parameter name="Similarity threshold" value="0.7" />

            <parameter name="Observations" value="892" />
            <parameter name="URL" value="http://www.epa.gov/ncct/dsstox/sdf_cpdbas.html" />
            <parameter name="Dataset name" value="Carcinogenic Potency Database" />
            
      </test>
      
     <!--test
            id="cpdb.signatures"
            name="CPDB Signature Significance"
            class="net.bioclipse.ds.libsvm.SignaturesLibSVMPrediction"
            endpoint="net.bioclipse.ds.carcinogenicity"
            informative="true"
            propertycalculator="CPDB Signature Significance">

            <resource name="file" path="data/cpdb_inchi.sdf" />
            <parameter name="responseProperty" value="ActivityOutcome_CPDBAS_Rat" />

            <resource name="trainFile" path="models/cpdb.train.model" />

            <resource name="modelfile" path="models/cpdb.svm.model" />
            <resource name="signaturesfile" path="models/cpdb.signatures.txt" />
            <parameter name="lowPercentile" value="0.1" />
        <parameter name="highPercentile" value="1.365681" />
                     <parameter
               name="signatures.min.height"
               value="0">
         </parameter>
         <parameter
               name="signatures.max.height"
               value="3">
         </parameter>
            
      </test-->
      
     <!--test
            id="cpdb.signatures.regression"
            name="CPDB regression"
            class="net.bioclipse.ds.libsvm.SignaturesLibSVMPrediction"
            endpoint="net.bioclipse.ds.carcinogenicity"
            informative="true"
            propertycalculator="CPDB Signature Significance">

            <resource name="file" path="data/cpdbForRegression.sdf" />
            <parameter name="responseProperty" value="TD50_Rat_mmol" />
            <resource name="trainFile" path="models/cpdb.regression.train" />

            <resource name="modelfile" path="models/cpdb.regression.model" />
            <resource name="signaturesfile" path="models/cpdb.regression.signatures" />
            <parameter name="lowPercentile" value="-0.05" />
        <parameter name="highPercentile" value="0.05" />
                     <parameter
               name="signatures.min.height"
               value="0">
         </parameter>
         <parameter
               name="signatures.max.height"
               value="3">
         </parameter>
            
      </test-->
      
       <test 
            id="cpdb.signatures.classification"
            name="CPDB Signature Significance"
            class="net.bioclipse.ds.libsvm.SignaturesLibSVMPrediction"
            endpoint="net.bioclipse.ds.carcinogenicity"
            informative="false"
            propertycalculator="CPDB Signature Significance">

            <parameter name="isClassification" value="true"/>
            <parameter name="positiveValue" value="active"/>
            <parameter name="negativeValue" value="inactive"/>
            <parameter name="classLabels" value="active, inactive"/>
            <parameter name="responseProperty" value="ActivityOutcome_CPDBAS_Rat"/>
            <parameter name="signatures.min.height" value="0"/>
            <parameter name="signatures.max.height" value="3"/>
            <resource name="trainFile" path="/models/cpdb.train"/>
            <resource name="modelfile" path="/models/cpdb.model"/>
            <resource name="signaturesfile" path="/models/cpdb.sign"/>
            <parameter name="Model type" value="QSAR"/>
            <parameter name="Learning model" value="SVM"/>
            <parameter name="Model choice" value="Maximal accuracy, with 5-fold cross-validated accuracy as objective function"/>
            <parameter name="Model performance" value="0.6831460674157304"/>
            <parameter name="Learning parameters" value="kernel=RBF, c=10.0, gamme=0.00390625"/>
            <parameter name="Descriptors" value="Signatures (height 0-3)"/>
            <parameter name="Observations" value="8014"/>
            <parameter name="Variables" value="891"/>
        </test>
      
      
      <!--test
            id="cpdb.signatures.classification"
            name="CPDB Signature Significance"
            class="net.bioclipse.ds.libsvm.SignaturesLibSVMPrediction"
            endpoint="net.bioclipse.ds.carcinogenicity"
            informative="false"
            propertycalculator="CPDB Signature Significance">

            <parameter name="isClassification" value="false" />
            <resource name="file" path="data/cpdb_molsign.sdf" />
            <parameter name="responseProperty" value="ActivityOutcome_CPDBAS_Rat" />
            <resource name="trainFile" path="models/cpdb.classification.train" />
            <resource name="modelfile" path="models/cpdb.classification.model" />
            <resource name="signaturesfile" path="models/cpdb.classification.signatures" />

            <parameter name="signatures.min.height" value="0" />
            <parameter name="signatures.max.height" value="3" />
            
			<parameter name="Model type" value="QSAR" />
            <parameter name="Model choice" value="Maximal accuracy, with 5-fold cross-validated accuracy as objective function" />
            <parameter name="Model validation" value="Accuracy measued on an external test set" />
            <parameter name="Model performance" value="0.68" />
            <parameter name="Learning model" value="SVM" />
            <parameter name="Learning parameters" value="kernel=RBF, c=10, gamma=0.0034" />

            <parameter name="Descriptors" value="Signatures (height 0-3)" />
            <parameter name="Observations" value="892" />
            <parameter name="Variables" value="8025" />
            <parameter name="URL" value="http://www.epa.gov/ncct/dsstox/sdf_cpdbas.html" />
            <parameter name="Dataset name" value="Carcinogenic Potency Database" />
            
      </test-->
      
      
      <test
            id="cpdb.alerts.signatures"
            name="CPDB Signature Alerts"
            endpoint="net.bioclipse.ds.carcinogenicity"
            consensus="net.bioclipse.ds.consensus.majority.emptynegative"
            class="net.bioclipse.ds.matcher.SignatureAlertsMatcher"
            propertycalculator="CPDB Signature Matches">
            <resource name="file"
                  path="models/cpdb_atomsign0_5.sdf_exportedSignatures.txt">
            </resource>
            
            <parameter name="Model type" value="Signature Alerts" />

            <parameter name="Observations" value="892" />
            <parameter name="URL" value="http://www.epa.gov/ncct/dsstox/sdf_cpdbas.html" />
            <parameter name="Dataset name" value="Carcinogenic Potency Database" />
 
            
      </test>
      
      <test
            id="cpdb.consensus"
            name="Carcinogenicity Consensus"
            visible="false"
            endpoint="net.bioclipse.ds.carcinogenicity"
            class="net.bioclipse.ds.matcher.BogusTest"
            icon="icons/db.gif">
      </test>
      
   </extension>




       <extension
       point="net.bioclipse.cdk.propertyCalculator">
    <Calculator
          class="net.bioclipse.ds.cpdb.calc.ExactMatchCalculator"
          id="CPDB Exact Match">
    </Calculator>
    <Calculator
          class="net.bioclipse.ds.cpdb.calc.NearestMatchCalculator"
          id="CPDB Nearest Neighbours">
    </Calculator>
    
     <Calculator
          class="net.bioclipse.ds.cpdb.calc.SignaturesAlertsCalculator"
          id="CPDB Signature Matches">
    </Calculator>

     <Calculator
          class="net.bioclipse.ds.cpdb.calc.SignatureSignificanceCalculator"
          id="CPDB Signature Significance">
    </Calculator>

    <Calculator
          class="net.bioclipse.ds.cpdb.calc.CarcinogenicityConsensusCalculator"
          id="Carcinogenicity Consensus">
    </Calculator>
    
 </extension>
 
 	<extension
  		point="org.eclipse.ui.menus">
   <menuContribution
        locationURI="popup:net.bioclipse.ds.context?after=single">
      <command
           commandId="net.bioclipse.cdk.ui.sdfeditor.addProperty"
           label="CPDB Exact Matches"
            icon="icons/db.gif"
           style="push">
        <parameter
              name="net.bioclipse.cdk.ui.sdfeditor.calculatorId"
              value="CPDB Exact Match">
        </parameter>
        <visibleWhen
              checkEnabled="false">
           <with
                 variable="activeEditor">
              <instanceof
                    value="net.bioclipse.cdk.ui.sdfeditor.editor.MultiPageMoleculesEditorPart">
              </instanceof>
           </with>
        </visibleWhen>
     </command>

      <command
           commandId="net.bioclipse.cdk.ui.sdfeditor.addProperty"
           label="CPDB Nearest Neighbors"
            icon="icons/db.gif"
           style="push">
        <parameter
              name="net.bioclipse.cdk.ui.sdfeditor.calculatorId"
              value="CPDB Nearest Neighbours">
        </parameter>
        <visibleWhen
              checkEnabled="false">
           <with
                 variable="activeEditor">
              <instanceof
                    value="net.bioclipse.cdk.ui.sdfeditor.editor.MultiPageMoleculesEditorPart">
              </instanceof>
           </with>
        </visibleWhen>
     </command>
     
     <command
           commandId="net.bioclipse.cdk.ui.sdfeditor.addProperty"
           label="CPDB Signatures Alerts"
            icon="icons/form.gif"
           style="push">
        <parameter
              name="net.bioclipse.cdk.ui.sdfeditor.calculatorId"
              value="CPDB Signature Alerts">
        </parameter>
        <visibleWhen
              checkEnabled="false">
           <with
                 variable="activeEditor">
              <instanceof
                    value="net.bioclipse.cdk.ui.sdfeditor.editor.MultiPageMoleculesEditorPart">
              </instanceof>
           </with>
        </visibleWhen>
     </command>

     <command
           commandId="net.bioclipse.cdk.ui.sdfeditor.addProperty"
           label="CPDB Signatures Significance"
            icon="icons/form.gif"
           style="push">
        <parameter
              name="net.bioclipse.cdk.ui.sdfeditor.calculatorId"
              value="CPDB Signature Significance">
        </parameter>
        <visibleWhen
              checkEnabled="false">
           <with
                 variable="activeEditor">
              <instanceof
                    value="net.bioclipse.cdk.ui.sdfeditor.editor.MultiPageMoleculesEditorPart">
              </instanceof>
           </with>
        </visibleWhen>
     </command>     
   </menuContribution>


   <menuContribution
        locationURI="popup:net.bioclipse.ds.context?after=consensus">
        
      <command
           commandId="net.bioclipse.cdk.ui.sdfeditor.addProperty"
           label="Carcinogenicity Consensus Clasification"
            icon="icons/poll.gif"
           style="push">
        <parameter
              name="net.bioclipse.cdk.ui.sdfeditor.calculatorId"
              value="CPDB Exact Match,CPDB Nearest Neighbours,CPDB Signature Matches,CPDB Signature Significance,Carcinogenicity Consensus">
        </parameter>
        <visibleWhen
              checkEnabled="true">
           <reference
                 definitionId="net.bioclipse.cdk.ui.sdfeditor.menu.fileOrEditor">
           </reference>
        </visibleWhen>
     </command>
   </menuContribution>
 </extension>
   
   
</plugin>
