<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>

   <extension
         point="net.bioclipse.decisionsupport">
      <test
            class="net.bioclipse.ds.lipinski.impl.RuleOfFiveTest"
            endpoint="net.bioclipse.ds.uncategorized"
            icon="icons/drug_cap.png"
            id="lipinski"
            informative="true"
            name="Lipinski&apos;s Rule of Five">
      </test>
</extension>

</plugin>
