<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="net.bioclipse.ds.test">
      <!--test
            id="smarts.sample"
            name="Sample simple SMARTS"
            icon="icons/form.gif"
            class="net.bioclipse.ds.smarts.model.impl.SmartsMatchingTest">
            <resource name="file"
                  path="data/sample.txt">
            </resource>
      </test-->
      <test
            id="smarts.bursi"
            name="Bursi Toxicophores"
            icon="icons/form.gif"
            reportmodel="net.bioclipse.ds.smarts.model.impl.SmartsMatchModel"
            class="net.bioclipse.ds.smarts.model.impl.SmartsMatchingTest">
            <resource name="file"
                  path="data/bursiApprovedCDKCorrected.txt">
            </resource>
      </test>
      <!--test
            id="smarts.bursi.inclexcl"
            name="Bursi inclusive/exclusive toxicophores"
            icon="icons/form.gif"
            class="net.bioclipse.ds.smarts.model.impl.SmartsInclusiveExclusiveTest">
            <resource name="file"
                  path="data/bursiApprovedInclExclCDKCorrected.txt">
            </resource>
      </test-->
      
   </extension>
      
      
 <extension
       point="net.bioclipse.cdk.propertyCalculator">
    <Calculator
          class="net.bioclipse.ds.smarts.bursi.SmartsMatchCalculator"
          id="Bursi Toxicophores">
    </Calculator>
 </extension>
 
 	<extension
  		point="org.eclipse.ui.menus">
   <menuContribution
        locationURI="popup:net.bioclipse.ds.context?after=single">
      <command
           commandId="net.bioclipse.cdk.ui.sdfeditor.addProperty"
           label="Bursi Toxicophores Matches"
            icon="icons/form.gif"
           style="push">
        <parameter
              name="net.bioclipse.cdk.ui.sdfeditor.calculatorId"
              value="Bursi Toxicophores">
        </parameter>
        <visibleWhen
              checkEnabled="false">
           <with
                 variable="activeEditor">
              <instanceof
                    value="net.bioclipse.cdk.ui.sdfeditor.editor.MultiPageMoleculesEditorPart">
              </instanceof>
           </with>
        </visibleWhen>
     </command>
   </menuContribution>
   

      
   </extension>
</plugin>
