<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>

   <extension-point id="net.bioclipse.decisionsupport" name="Decision Support" schema="schema/decisionsupport.exsd"/>

   <extension
         point="net.bioclipse.scripting.contribution">
      <scriptContribution
            service="net.bioclipse.ds.business.DSManagerFactory"
            id="net.bioclipse.ds.DSManager">
      </scriptContribution>
   </extension>

<extension
       point="net.bioclipse.cdk.jchempaint.generator">
    <generator
          class="net.bioclipse.ds.model.result.BlueRedColorScaleGenerator">
    </generator>
    <generator
          class="net.bioclipse.ds.model.result.PosNegIncColorGenerator">
    </generator>
    <generator
          class="net.bioclipse.ds.model.result.GlowGenerator">
    </generator>
 </extension>

</plugin>
