<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>

   <extension-point id="net.bioclipse.ds.test" name="Decision Support Test" schema="schema/net.bioclipse.ds.test.exsd"/>


   <extension
         point="org.eclipse.ui.views">
      <category
            id="net.bioclipse.ds.views"
            name="Decision Support">
      </category>
      <view
            category="net.bioclipse.ds.views"
            class="net.bioclipse.ds.ui.views.DSView"
            icon="icons/poll.gif"
            id="net.bioclipse.ds.ui.views.DSView"
            name="Decision Support">
      </view>
   </extension>
   <extension
         point="org.eclipse.help.contexts">
      <contexts
            file="contexts.xml">
      </contexts>
   </extension>

   <extension
         point="org.eclipse.ui.perspectives">
      <perspective
            class="net.bioclipse.ds.ui.PerspectiveFactory"
            id="net.bioclipse.ds.ui.perspective"
            icon="icons/poll.gif"
            name="Decision Support">
      </perspective>
   </extension>

	<extension
    	point="org.eclipse.help.toc">
		<toc
        	file="toc.xml"
         	primary="true"/>
	</extension>
 <extension
       point="org.eclipse.ui.cheatsheets.cheatSheetContent">
    <category
          id="net.bioclipse.ds.cheatsheets"
          name="Decision Support">
    </category>
    <cheatsheet
          category="net.bioclipse.ds.cheatsheets"
          composite="false"
          contentFile="cheatsheets/gettingstarted.xml"
          id="net.bioclipse.ds.gettingStarted"
          name="Getting Started with Decision Support">
    </cheatsheet>
 </extension>


 <extension
       point="net.bioclipse.cdk.propertyCalculator">
    <Calculator
          class="net.bioclipse.ds.business.DSConsensusCalculator"
          id="Consensus">
    </Calculator>
 </extension>
 
 
  	<extension
  		point="org.eclipse.ui.menus">
		<menuContribution
			locationURI="popup:org.eclipse.ui.popup.any?after=additions">
        
        <menu
              label="Decision Support"
              id="net.bioclipse.ds.context">
              <separator
                    name="single">
              </separator>
              <separator
                    name="consensus">
              </separator>
        <visibleWhen
              checkEnabled="true">
           <reference
                 definitionId="net.bioclipse.cdk.ui.sdfeditor.menu.fileOrEditor">
           </reference>
        </visibleWhen>
              
        </menu>

   </menuContribution>

   <menuContribution
        locationURI="popup:net.bioclipse.ds.context?after=consensus">
        
      <command
           commandId="net.bioclipse.cdk.ui.sdfeditor.addProperty"
           label="Consensus Clasification"
            icon="icons/poll.gif"
           style="push">
        <parameter
              name="net.bioclipse.cdk.ui.sdfeditor.calculatorId"
              value="Bursi Exact Match,Bursi Nearest Neighbours,Bursi Toxicophores,Signature Significance,Consensus">
        </parameter>
        <visibleWhen
              checkEnabled="true">
           <reference
                 definitionId="net.bioclipse.cdk.ui.sdfeditor.menu.fileOrEditor">
           </reference>
        </visibleWhen>
     </command>
   </menuContribution>
 </extension>
   


 <extension
       point="org.eclipse.core.expressions.definitions">
    <definition
          id="net.bioclipse.cdk.ui.sdfeditor.menu.file">
       <iterate
             ifEmpty="false"
             operator="and">
          <adapt
                type="org.eclipse.core.resources.IResource">
             <or>
                <test
                      property="org.eclipse.core.resources.contentTypeId"
                      value="net.bioclipse.contenttypes.sdf0d">
                </test>
                <test
                      property="org.eclipse.core.resources.contentTypeId"
                      value="net.bioclipse.contenttypes.sdf2d">
                </test>
                <test
                      property="org.eclipse.core.resources.contentTypeId"
                      value="net.bioclipse.contenttypes.sdf3d">
                </test>
             </or>
          </adapt>
       </iterate>
    </definition>
    <definition
          id="net.bioclipse.cdk.ui.sdfeditor.menu.editor">
       <with
             variable="activeEditor">
          <instanceof
                value="net.bioclipse.cdk.ui.sdfeditor.editor.MultiPageMoleculesEditorPart">
          </instanceof>
       </with>
    </definition>
    <definition
          id="net.bioclipse.cdk.ui.sdfeditor.menu.fileOrEditor">
       <or>
          <iterate
                ifEmpty="false"
                operator="and">
             <adapt
                   type="org.eclipse.core.resources.IResource">
                <or>
	                <test
    	                  property="org.eclipse.core.resources.contentTypeId"
    	                  value="net.bioclipse.contenttypes.sdf0d">
	                </test>
                   <test
                         property="org.eclipse.core.resources.contentTypeId"
                         value="net.bioclipse.contenttypes.sdf2d">
                   </test>
                   <test
                         property="org.eclipse.core.resources.contentTypeId"
                         value="net.bioclipse.contenttypes.sdf3d">
                   </test>
                </or>
             </adapt>
          </iterate>
          <with
                variable="activeEditor">
             <instanceof
                   value="net.bioclipse.cdk.ui.sdfeditor.editor.MultiPageMoleculesEditorPart">
             </instanceof>
          </with>
       </or>
    </definition>
 </extension>

   <extension
         point="net.bioclipse.ds.test">
      <test
            class="net.bioclipse.ds.business.ConsensusTest"
            icon="icons/db.gif"
            id="Consensus"
            name="Decision Suppport Consensus">
      </test>
 </extension>

</plugin>
